body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .head {
    max-height: 20%;
    max-width: 20%;
}

.nav {
  color: #6D2E46;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 70px;
  margin-top: 15px;
}

.btn {
  background-color: #a26789;
  padding-top: 10px;
  margin-right: 35px;
  align-items: center;
  font-size: 15px;
}